<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqraKObkT7UWmNmrv52yvlNdfIB8ki_yE</string>
	<key>GCM_SENDER_ID</key>
	<string>144762403175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gen21.home-service-bd</string>
	<key>PROJECT_ID</key>
	<string>gen21bd</string>
	<key>STORAGE_BUCKET</key>
	<string>gen21bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144762403175:ios:afaea0d22aaf86f5a9d7c2</string>
</dict>
</plist>